serviceCompraVehiculosProveedor2/WebContent/WEB-INF/services/CompraVehiculosProveedor2/META-INF/CompraVehiculosProveedor2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CompraVehiculosProveedor2" targetNamespace="http://www.example.org/CompraVehiculosProveedor2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/CompraVehiculosProveedor2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CompraVehiculosProveedor2/">
      <xsd:element name="actualizarStock">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="vehiculos" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mensaje" type="xsd:string"/>
          	<xsd:element name="devolver" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarStock">
      	<xsd:complexType>
      		<xsd:sequence>
          	<xsd:element name="vehiculos" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarStockResponse">
      	<xsd:complexType>
      		<xsd:sequence>
          	<xsd:element name="vehiculos" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
    <xsd:element name="sumarCantidad">
    	<xsd:complexType>
    		<xsd:sequence>
          		<xsd:element name="vehiculos" type="xsd:string"/>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>
    <xsd:element name="sumarCantidadResponse">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element name="total" type="xsd:int"/>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sumarCantidadResponse">
    <wsdl:part name="parameters" element="tns:sumarCantidadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarStockResponse">
    <wsdl:part name="parameters" element="tns:comprobarStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarStockResponse">
    <wsdl:part name="parameters" element="tns:actualizarStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumarCantidadRequest">
    <wsdl:part name="parameters" element="tns:sumarCantidad">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarStockRequest">
    <wsdl:part name="parameters" element="tns:comprobarStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarStockRequest">
    <wsdl:part name="parameters" element="tns:actualizarStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CompraVehiculosProveedor2">
    <wsdl:operation name="actualizarStock">
      <wsdl:input message="tns:actualizarStockRequest">
    </wsdl:input>
      <wsdl:output message="tns:actualizarStockResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarStock">
      <wsdl:input message="tns:comprobarStockRequest">
    </wsdl:input>
      <wsdl:output message="tns:comprobarStockResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumarCantidad">
      <wsdl:input message="tns:sumarCantidadRequest">
    </wsdl:input>
      <wsdl:output message="tns:sumarCantidadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompraVehiculosProveedor2SOAP" type="tns:CompraVehiculosProveedor2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarStock">
      <soap:operation soapAction="http://www.example.org/CompraVehiculosProveedor2/actualizarStock"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarStock">
      <soap:operation soapAction="http://www.example.org/CompraVehiculosProveedor2/comprobarStock"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumarCantidad">
      <soap:operation soapAction="http://www.example.org/CompraVehiculosProveedor2/sumarCantidad"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompraVehiculosProveedor2">
    <wsdl:port name="CompraVehiculosProveedor2SOAP" binding="tns:CompraVehiculosProveedor2SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
