serviceAlquilerVehiculos/resources/AlquilerVehiculos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AlquilerVehiculos" targetNamespace="http://www.example.org/AlquilerVehiculos/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/AlquilerVehiculos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/AlquilerVehiculos/">
      <xsd:element name="ObtenerVehiculos">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="modelo" type="xsd:string"/>
          	<xsd:element name="marca" type="xsd:string"/>
          	<xsd:element name="color" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtenerVehiculosResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="unbounded" minOccurs="0" name="vehiculos" type="tns:Vehiculo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AsignarVehiculos">
      	<xsd:complexType>
      		<xsd:sequence>




      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="asignacion" type="tns:Asignacion">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AsignarVehiculosResponse">
      	<xsd:complexType>
      		<xsd:sequence>


      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="vehiculos" type="tns:VehiculosAsignados">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Vehiculo">
      	<xsd:sequence>
      		<xsd:element name="idVehiculo" type="xsd:int"/>
      		<xsd:element name="marca" type="xsd:string"/>
      		<xsd:element name="modelo" type="xsd:string"/>
      		<xsd:element name="color" type="xsd:string"/>
      		<xsd:element name="mensaje" type="xsd:string"/>
      		<xsd:element name="precio" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Asignacion">
      	<xsd:sequence>
      		<xsd:element name="idCliente" type="xsd:string"/>
      		<xsd:element name="idVehiculo" type="xsd:int"/>
      		<xsd:element name="fechaini" type="xsd:date"/>
      		<xsd:element name="fechafin" type="xsd:date"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="VehiculosAsignados">
      	<xsd:sequence>
      		<xsd:element name="idCliente" type="xsd:string"/>
      		<xsd:element name="idVehiculo" type="xsd:int"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerVehiculosRequest">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenerVehiculosResponse">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AsignarVehiculosResponse">
    <wsdl:part name="parameters" element="tns:AsignarVehiculosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AsignarVehiculosRequest">
    <wsdl:part name="parameters" element="tns:AsignarVehiculos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AlquilerVehiculos">
    <wsdl:operation name="ObtenerVehiculos">
      <wsdl:input message="tns:ObtenerVehiculosRequest">
    </wsdl:input>
      <wsdl:output message="tns:ObtenerVehiculosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignarVehiculos">
      <wsdl:input message="tns:AsignarVehiculosRequest">
    </wsdl:input>
      <wsdl:output message="tns:AsignarVehiculosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlquilerVehiculosSOAP" type="tns:AlquilerVehiculos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerVehiculos">
      <soap:operation soapAction="http://www.example.org/AlquilerVehiculos/ObtenerVehiculos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignarVehiculos">
      <soap:operation soapAction="http://www.example.org/AlquilerVehiculos/AsignarVehiculos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlquilerVehiculos">
    <wsdl:port name="AlquilerVehiculosSOAP" binding="tns:AlquilerVehiculosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
